@font-face {
  font-family: "iconfont"; /* Project id 5030860 */
  src: url('iconfont.woff2?t=1758911132027') format('woff2'),
       url('iconfont.woff?t=1758911132027') format('woff'),
       url('iconfont.ttf?t=1758911132027') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e6bb";
}

.icon-phone:before {
  content: "\e63b";
}

.icon-upload:before {
  content: "\e75d";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-jianhao:before {
  content: "\e729";
}

.icon-down:before {
  content: "\e6a8";
}

.icon-up:before {
  content: "\e6a9";
}

.icon-users:before {
  content: "\e730";
}

.icon-app:before {
  content: "\e9ef";
}

.icon-shangyiyehoutuifanhui:before {
  content: "\e8ef";
}

.icon-xiayiyeqianjinchakangengduo:before {
  content: "\e8f1";
}

.icon-content:before {
  content: "\e685";
}

.icon-download:before {
  content: "\e7ef";
}

.icon-guanbi:before {
  content: "\e611";
}

.icon-tiku:before {
  content: "\e69b";
}

.icon-more:before {
  content: "\e700";
}

.icon-password:before {
  content: "\e65d";
}

.icon-jia:before {
  content: "\e632";
}

.icon-settings:before {
  content: "\e840";
}

